@import "./shared/default";
@import "./shared/loader";
@import "./shared/navbar";
@import "./shared/footer";
@import "./shared/field";

.first{
    margin: 1% 2% 10px;
    padding: 5%;
    height: 100%;
    border-radius: 30px;
    background: url(../images/home/emoji-1.png) 90% 45%/25% no-repeat,
    url(../images/home/laptop.png) 100% 80%/40% no-repeat,
    url(../images/home/emoji-2.png) 93% 40%/7% no-repeat,
    url(../images/home/phone.png) 100% 40%/17% no-repeat,
    url(../images/home/depannage-bg.png) center/cover no-repeat;
    .text{
        width: 60%;
        text-align: right;
        h1{
            color: #fff;
            font-family: 'Titre';
            font-size: 6rem;
        }
    }
}

/*reparation types*/
.genre{
    display: flex;
    .img{
        text-align: center;
        width: 100%;
        margin-top: 30px;
        img{
            width: 100%;
        }
    }
    .site{
        background: #f5f5f588;
        backdrop-filter: blur(5px);
        border-radius: 30px;
        border: 3px solid #28282823;
        margin: 10% 15px;
        padding: 20px 30px;
        text-align: justify;
        width: 50%;
        h4{
            text-align: center;
            font-weight: 600;
            text-decoration: underline;
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }
}