@import "./shared/default";
@import "./shared/loader";
@import "./shared/navbar";
@import "./shared/footer";
@import "./shared/field";

/*Main page*/
#none, #onee{
    overflow: hidden;
}

.first{
    margin: 1% 2% 10px;
    padding: 5%;
    height: 85%;
    border-radius: 30px;
    background: url(../images/home/emoji-1.png) 90% 45%/25% no-repeat,
    url(../images/home/laptop.png) 100% 80%/40% no-repeat,
    url(../images/home/emoji-2.png) 93% 40%/7% no-repeat,
    url(../images/home/phone.png) 100% 40%/17% no-repeat,
    url(../images/home/depannage-bg.png) center/cover no-repeat;
    .text{
        width: 60%;
        text-align: right;
        h1{
            color: #fff;
            font-family: 'Titre';
            font-size: 6rem;
        }
    }
}

.second{
    display: flex;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
    .same{
        margin: 10px 2% 0;
        padding: 5%;
        height: 100%;
        border-radius: 30px;
        width: 50%;
        flex: 1;
        h2{
            font-family: 'Titre';
            font-size: 3rem;
            color: #fff;
        }
    }
    .one{
        background: url(../images/home/fusée.png) right/50% no-repeat, url(../images/home/livraison-section-bg.jpg) center/cover no-repeat;
    }
    .two{
        background: url(../images/home/Message-box-2-small.png) 100%/25% no-repeat, url(../images/home/Message-box-1-big.png) 80%/50% no-repeat, url(../images/home/services-numériques-bg.jpg) center/cover no-repeat;
    }
    .plus{
        width: 50%;
        &:hover{
            width: 55%;
        }
    }
}

/*Responsive*/
@media (max-width: 1095px) {
    .field{
        width: 35%;
        &:hover{
            width: 40%;
        }
    }
}
@media (min-width: 675px) and (max-width: 925px) {
    .first{
        background: url(../images/home/emoji-1.png) 90% 65%/25% no-repeat,
        url(../images/home/laptop.png) 100% 80%/40% no-repeat,
        url(../images/home/emoji-2.png) 93% 40%/7% no-repeat,
        url(../images/home/phone.png) 100% 40%/17% no-repeat,
        url(../images/home/depannage-bg.png) center/cover no-repeat;
    }
    .field{
        width: 56%;
        &:hover{
            width: 60%;
        }
    }
}
@media (max-width: 675px){
    .first{
        padding-top: 55%;
        background: url(../images/home/emoji-1.png) 25% 10%/45% no-repeat,
        url(../images/home/laptop.png) 0% 10%/75% no-repeat,
        url(../images/home/emoji-2.png) 63% 12%/14% no-repeat,
        url(../images/home/phone.png) 70% 10%/30% no-repeat,
        url(../images/home/depannage-bg.png) center/cover no-repeat;
        .text{
            width: 100%;
            h1{
                font-size: 5rem;
            }
        }
    }
    .field{
        width: 75%;
        &:hover{
            width: 80%;
        }
    }
}
@media (max-width: 575px){
    .first{
        .text{
            width: 100%;
            h1{
                font-size: 4rem;
            }
        }
    }
}
@media (max-width: 450px){
    .first{
        .text{
            h1{
                font-size: 3rem;
            }
        }
    }
    .field{
        width: 92%;
        &:hover{
            width: 95%;
        }
    }
    .second{
        .same{
            h2{
                font-size: 2rem;
            }
        }
    }
}
@media (max-width: 350px){
    .first{
        .text{
            h1{
                font-size: 2rem;
            }
        }
    }
}